*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.nupkg
*.sdsettings
*.shf*
*.suo
*.user
*.userprefs
*.versionsBackup
.classpath
.pmd
.project
.settings/
/target
Help/
ProfilingSessions/
TestResults/
bin/
js/*.ht*
js/DecTest.*
obj/
packages/
release.properties
