bin/
obj/
.settings/
packages/
Help/
*.user
*.nupkg
*.versionsBackup
*.sdsettings
TestResults/
*.Cache
js/*.ht*
js/DecTest.*
ProfilingSessions/
.project
.classpath
release.properties
*.shf*
*.Settings
*.class
*.suo
*.log
.pmd
/target
