*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.map
*.nupkg
*.pyc
*.sdsettings
*.shf*
*.snk
*.suo
*.user
*.userprefs
*.versionsBackup
.classpath
.nuget/
.pmd
.project
.settings/
.vs/
/target
Help/
ProfilingSessions/
TestResults/
bin/
encoding/
encodingfldr/
js/*.ht*
js/DecTest.*
obj/
packages/
release.properties
target/
